In [1]:
import numpy as np

In [2]:
import pandas as pd

In [21]:
Nombre = ["Joaquin", "Manuel", "Luciana", "Yesica", "Adrian", "Mariano", "Juliana", "Tatiana"]
Localidad = ["City bell", "Gonnet", "La plata", "Villa elisa"]
aldia = ["si", "no"]

In [23]:
n = 300
genero_Nombre = []
genero_Localidad = []
genero_aldia = []

for i in range(0, n):
    genero_Nombre.append(np.random.choice(Nombre))
    genero_Localidad.append(np.random.choice(Localidad))
    genero_aldia.append(np.random.choice(aldia))

In [15]:
genero_Nombre[0:10]

['Juliana',
 'Joaquin',
 'Manuel',
 'Adrian',
 'Luciana',
 'Adrian',
 'Luciana',
 'Manuel',
 'Joaquin',
 'Juliana']

In [20]:
genero_Localidad[0:10]

['Gonnet',
 'Gonnet',
 'La plata',
 'City bell',
 'Villa elisa',
 'La plata',
 'City bell',
 'City bell',
 'Gonnet',
 'La plata']

In [24]:
genero_aldia[0:10]

['si', 'si', 'si', 'si', 'si', 'si', 'no', 'no', 'si', 'si']

In [52]:
numero_socio = np.random.randint(1,100000)
asistencias = 20 + 5 * np.random.randn(n)
actividades = np.random.randint(1,2)
edad = 35 + 20 + np.random.randn(n)
socios = pd.DataFrame(
    {
        "Nombre" : genero_Nombre,
        "Localidad" : genero_Localidad,
        "Al día" : genero_aldia,
        "Numero de socio" : numero_socio,
        "Cantidad de asistencias a la intitucion" : asistencias,
        "Cantidad de actividades que realiza" : actividades,
        "Edad" : edad
     }

)

In [53]:
socios.head(11)

,Nombre,Localidad,Al día,Numero de socio,Cantidad de asistencias a la intitucion,Cantidad de actividades que realiza,Edad
0,Tatiana,Villa elisa,si,29129,10.923675,1,54.696429
1,Tatiana,City bell,si,29129,20.645374,1,56.904056
2,Juliana,La plata,si,29129,15.141594,1,55.274598
3,Yesica,La plata,si,29129,20.023950,1,53.796019
4,Mariano,La plata,si,29129,21.825987,1,54.277341
5,Luciana,Gonnet,si,29129,13.392863,1,55.285303
6,Luciana,Gonnet,no,29129,14.707537,1,55.599159
7,Mariano,La plata,no,29129,16.662027,1,54.286533
8,Manuel,La plata,si,29129,19.181280,1,54.844915
9,Tatiana,La plata,si,29129,19.391009,1,55.370215
10,Juliana,La plata,no,29129,21.201449,1,56.370173